
@{
    ViewBag.Title = "Index";
}

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/">
                <i class="fa fa-play-circle"></i>  <span class="light">Innosoft</span> Web POS
            </a>
        </div>
    </div>
</nav>

<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <a href="#">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-user fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            @*<div class="huge" id="UsersCounts">&nbsp;<i class="fa fa-spinner fa-spin"></i></div>*@
                                            @*<div>Users</div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <h4><span class="pull-left">USERS</span></h4>
                                    @*<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>*@
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <a href="#">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-tasks fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            @*<div class="huge" id="SetupCounts">&nbsp;<i class="fa fa-spinner fa-spin"></i></div>*@
                                            @*<div>Setup</div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <h4><span class="pull-left">SETUP</span></h4>
                                    @*<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>*@
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <a href="~/POS/Sales">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-shopping-cart fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            @*<div class="huge" id="SalesCounts">&nbsp;<i class="fa fa-spinner fa-spin"></i></div>*@
                                            @*<div>Sales</div>*@
                                        </div>
                                    </div>
                                </div>

                                <div class="panel-footer">
                                    <h4><span class="pull-left">SALES</span></h4>
                                    @*<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>*@
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Display -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/grayscale.js"></script>
