@{
    ViewBag.Title = "Home Page";
}

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-play-circle"></i>  <span class="light">Innosoft</span> Web POS
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#download">POS</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
                    <a class="page-scroll" href="/Account/Login#loginform">Login</a>
                </li>
               
             </ul>
        </div>
    </div>
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">WEB POS</h1>
                    <p class="intro-text">A cloud-based POS management and consolidator.<br>Created by INNOSOFT SOLUTIONS</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About WEB POS</h2>
            <p>INNOSOFT WEB POS is an online POS management and consolidator, created specifically for existing INNOSOFT POS users.</p>
            <p>The objective of this application is provide a web-based access to existing POS infrastructure and installations in real-time cloud data consolidation and reporting.</p>
        </div>
    </div>
</section>

<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>WEB POS</h2>
                <p>To start using the application just press the launch button.</p>
                <a href="/POS" class="btn btn-default btn-lg">LAUNCH APPLICATION</a>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2><a href="http://innosoft.ph/">INNOSOFT SOLUTIONS</a></h2>
            <p>Innosoft Bldg. Corner V. Rama Avenue & R. Duterte St. Guadalupe, Cebu City</p>
            <p>+63 (32) 2663773</p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/hgminerva" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/hgminerva" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/InnosoftSolutionsInc" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; INNOSOFT WEB POS 2015</p>
    </div>
</footer>

<!-- jQuery -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/grayscale.js"></script>